@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --black: #0E0E0E;
  --darkGray: #181818;
  --gray: #636363;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-Variable.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

body {
  background-color: var(--black);
  color: white;
}

main{
  background-color: var(--darkGray);
}

.current-date,
.current-temp-text,
.this-week{
  color: var(--gray);
}

.container-3,
.day-card-container{
  background-color: var(--black);
}

.temp-icon:hover,
.search:hover{
  cursor: pointer;
}

